<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
</head>

<body>
    {{>navbar2}}
    <h2 id="welcome">Welcome Admin to the Dashboard</h2>
    <form action = "/login/admin" method="post">
        <div>
            <label>Product Name</label>
            <input type="text" name="product" required>
            <div>
                <label for="avatar">Add a product Image</label>
                {{!-- <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" required> --}}
                <input type = "url" name = "avatar" />
            </div>
            <div>
                <label>Price</label>
                <input type="number" placeholder="price in ₹" name = "price" required>
            </div>
            <div>
                <input type = "submit" value = "Add product" />
            </div>
        </div>
    </form>
    <div id = "display-stuff">

    </div>
</body>
<script>
  getApi();
  async function getApi()
  {
      const response = await fetch('../api');
      const data = await response.json();
      for(let i = 0;i< data.length;i++)
      {
          var el = document.createElement('p');
          el.innerHTML = data[i].product;
          document.getElementById("display-stuff").appendChild(el);
          var prodImage = document.createElement('img');
          prodImage.src = "";
          prodImage.width = 100;
          prodImage.height = 100;
          prodImage.src = data[i].avatar;
          document.getElementById("display-stuff").appendChild(prodImage);
          var price = document.createElement('p');
          price.innerHTML = "₹"+data[i].price;
          document.getElementById("display-stuff").appendChild(price);
      }
  }
  
    

</script>
</html>